<%-include('../includes/head.ejs') %>
</head>

<body>
    <%-include('../includes/nav.ejs') %>

    <section class="card">
        <div class="login">
            <% if(errorMessage){ %>
            <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>
            <form action="/reset" method="POST">

                <div><label for="email">E-mail</label>
                    <input type="text" name="email" id="email" value="">
                </div>

                

                <div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">reset Password</button>
                </div>
            </form>

        </div>

    </section>
    <%-include('../includes/end.ejs')%>