<%-include('../includes/head.ejs') %>
</head>

<body>
  <%-include('../includes/nav.ejs') %>

  <section class="card">
    <div class="login">
      <% if(errorMessage){ %>
        <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>
      <form action="/signup" method="POST" novalidate>
       
        <div>
          <label for="email">E-mail</label>
          <input 
            class="<%= validationErrors.find(e=> e.param === 'email' ) ? 'invalid' : '' %>" 
            type="email" 
            name="email" 
            id="email" 
            value="
            <%= oldInput.email %>"
          >
        </div>

        <div>
          <label for="password">Password</label>
          <input 
          class="<%= validationErrors.find(e=> e.param === 'password' ) ? 'invalid' : '' %>"
          type="password" name="password" id="password" value="<%= oldInput.password %>">
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input 
          class="<%= validationErrors.find(e=> e.param === 'confirmPassword' ) ? 'invalid' : '' %>"
          type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.confirmPassword %>">
        </div>


        <div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn" type="submit">Signup</button>
        </div>
      </form>

    </div>

  </section>
  <%-include('../includes/end.ejs')%>