<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <section class="card">
        
        <div class="productos">
            <h1>My ADMIN PRODUCTS</h1>
            <p>List of all Products</p>
            <!-- JS -->
            <% if (prods.length > 0 ){%>
            <% for (let product of prods){%>

            <article class="prod">
                <div class="imag">
                    <img src="/<%= product.imageUrl %>" alt="imagen">

                </div>
                <div class="item">
                    <h1> titulo: <%= product.title %> </h1>
                    <h1> id: <%= product._id %> </h1>
                    
                    <h1> precio: <%= product.price %> </h1>
                    <h1> descripcion: <%= product.description %> </h1>

                </div>

                <div class="opt">
                        <a href="/admin/edit-product/<%=product._id%>?edit=true" class="btn">EDIT</a>
                         
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="productId" value="<%= product._id %>">

                        <button type="button" onclick="deleteProduct(this)"  class="btn">delete</button>
                        
                    
                </div>


            </article>

            <%}%>
            <%}else{%>
            <h1>No product found</h1>
            <%}%>
        </div>
       
        
    </section>
    
<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>