<header class="navbar">
    <nav>
        <ul>
            <li>
                <a class="<%= path === '/' ? 'active' : '' %>" href='/'>Shop</a>
            </li>
            <li>
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if(isAuth) { %>
                <li>
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li>
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li>
                    <a class="<%= path === '/admin/edit-product' ? 'active' : '' %>" href="/admin/add-product">Add
                        Product</a>
                </li>
                <li>
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href='/admin/products'>Admin product</a>
                </li>
                <li>
                    <form action="/logout" method="POST">
                        <!-- <a class="<%= path === '/auth/login' ? 'active' : '' %>" href='/'>LOGOUT</a> -->
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
            <% if(!isAuth) { %>
                <li>
                    <a class="<%= path === '/auth/login' ? 'active' : '' %>" href='/login'>LOGIN</a>
                </li>
                
            <% } %>
           

        </ul>
    </nav>
</header>