<%-include('../includes/head.ejs') %>
</head>
<body>
    <%-include('../includes/nav.ejs') %>

    <section class="card">
        <div class="productos">
                <form action="/admin/<% if(editing){%>edit-product<%} else {%>add-product<%} %> " method="POST">
            
                    <div><label for="title">Title</label>
                        <input type="text" name="title" id="title" value="<% if(editing){%> <%= product.title%> <%} %> ">
                    </div>
                        
                    <div><label for="imgUrl">Image</label>
                        <input type="text" name="imgUrl" id="imgUrl">
                    </div>
        
                    <div><label for="price">Price</label>
                        <input type="text" name="price" id="price" value="<% if(editing){%> <%= product.price%> <%} %> "></div>
        
                    <div><label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="10" value="">
                                <% if(editing){%> <%= product.description%> <%} %> 
                        </textarea> </div>
                    
                        <div >
                                
                                <button class="btn" type="submit"><% if(editing){%>Update Product<%} else {%>Add Product<%} %></button>
                        </div>
                </form>
               
        </div>
        
    </section>
    <%-include('../includes/end.ejs')%>