<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <section class="card">
        
        <div class="productos">
                <h1>CARTS</h1>
                <p>List of all Products</p>
                <!-- JS -->
                <% if(products.length > 0){%>
                    <ul>
                        <% products.forEach(p => {%>
                            <li>
                                <p>
                                    Item: <%= p.title%> Cantidad: (<%= p.cartItem.cantidad %>) PRECIO: (<%= p.price%>) ID: (<%=p.id%>) )
                                </p>
                                <p>
                                    <h3><p>TOTAL DEL CARRO: <%= p.cartItem.totalItem %></p></h3>
                                </p>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" value="<%= p.id %>" name="productId">
                                    <button type="submit" class="btn">delete</button>
                                </form>
                            </li>
                        <% }) %>


                    </ul>
                    
                <%}else{%>
                    <h1>NO PRODS</h1>
                <%}%>
               
        </div>

</section>
<%- include('../includes/end.ejs') %>