<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <section class="card">
        <div class="productos">
                <h1>CARTS</h1>
                <p>List of all Products</p>
                <!-- JS -->
                <% if(products.length>0){%>
                    <ul>
                        <% products.forEach(p => {%>
                            <li>
                                <p>
                                    Item: <%= p.title%> Cantidad: (<%= p.quantity %>)      </p>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" value="<%=p._id%>" name="productId">
                                    <button type="submit" class="btn">delete</button>

                                </form>
                            </li>
                        <% }) %>


                    </ul>
                    <hr>
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order NOW!!</button>
                    </form>
                <%}else{%>
                    <h1>NO PRODS</h1>
                <%}%>
        </div>

</section>
<%- include('../includes/end.ejs') %>