<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <section class="card">
            <div class="productos">
                    <h1>Bienvenidos a libroLandia</h1>
                    <p>Lista de todos los productos imaginarios que tenemos.</p>
                    <!-- JS -->
                    <% if (prods.length > 0 ){%>
                    <% for (let product of prods){%>
        
                    <div class="prod">
                        <div class="imag">
                            <img src="<%= product.imageUrl %>" alt="imagen">
                        </div>
                        <div class="item">
                            <h1> titulo: <%= product.title %> </h1>
                            <h1> id: <%= product.id %> </h1>
                            <h1> precio: <%= product.price %> </h1>
                            <h1> descripcion: <%= product.description %> </h1>
        
                        </div>
                        <div class="opt">
                            <a class="btn" href="/products/<%=product._id%>" class="btn">DETAILS</a>
                            <% if(isAuth) { %>
                            <form action="/cart" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn">ADD TO CART</button>
                                <input type="hidden" name="productId" value="<%= product._id %>">
                            </form>
                            <%}%>
                        </div>
                    </div>
        
                    <%}%>
                    <%}else{%>
                    <h1>No product found</h1>
                    <%}%>
                    </div>
    
    </section>
<%- include('../includes/end.ejs') %>