<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <section class="card">
        <div class="ordenes_lista">
            <h1>ORDENES</h1>
            <p>Lista de todas las ordenes</p>

            <!-- JS -->
            <% if(orders.length > 0){%>

                <ul>
            <% orders.forEach( order => {%>
            <div class="orden">

              
                    <div class="nombre_orden"> Order: <%= order._id%> - <a href="/orders/<%= order._id %>">invoice</a></div>
                  

                            <div class="items_orden"><% order.products.forEach( p => {%>
                            <li ><%= p.product.title %>: ( <%= p.quantity%> )</li>
                            <%})%>
                            
                            </div>
                            
           
            </div>
            <% }) %>
        </ul>
      

            <%}else{%>
            <h1>NO ORDERS</h1>
            <%}%>
            </div>
    
    </section>
    <%- include('../includes/end.ejs') %>