<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <section class="card">
        <div class="productos">
            <h1>Detalles de producto</h1>
            <div class="prod">
                <div class="imag">
                    <h1> <img src="<%= product.imageUrl %>" alt="imagen"></h1>

                </div>
                <div class="item">
                    <h1> titulo: <%= product.title %> </h1>
                    <h1> id: <%= product.id %> </h1>
                    <h1> precio: <%= product.price %> </h1>
                    <h1> descripcion: <%= product.description %> </h1>

                </div>
                <div class="opt">
                    <form action="/cart" method="POST">
                        <button type="submit" class="btn">ADD TO CART</button>
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        

                    </form>
                </div>


            </div>
        </div>

    </section>
    <%- include('../includes/end.ejs') %>