<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <section>
       <h1>My Products</h1>
       <p>List of all Products</p>
       
       <!-- JS -->

        <% if (prods.length > 0 ){%>
            <% for (let product of prods){%>
            <h1> titulo: <%= product.title %> </h1>
            <h1> imagen: <%= product.imageUrl %> </h1>
            <h1> precio: <%= product.descripcion %> </h1>
            <h1> descripcion: <%= product.price %> </h1>
            
            <%}%>
        <%}else{%>
            <h1>No product found</h1>
        <%}%>

    
    </section>
<%- include('../includes/end.ejs') %>