<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <section>
       <h1>My Products</h1>
       <p>List of all Products</p>
       <!-- JS -->

        <% if (prods.length > 0 ){%>
            <% for (let product of prods){%>
            <h1> > <%= product.title %> </h1>
            <h1> > <%= product.imageUrl %> </h1>
            <h1> > <%= product.price %> </h1>
            <h1> > <%= product.description %> </h1>
            <form action="/add-to-cart" method="POST">
                <a href="/products/<%= product.id %>">details</a>
                <button type="submit">add-to-cart</button>
            </form>
            
            
            <%}%>
        <%}else{%>
            <h1>No product found</h1>
        <%}%>

    
    </section>
<%- include('../includes/end.ejs') %>